*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.container{
    width: 300px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
}
.display{
    width: 275px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    box-sizing: border-box;
}
input{
        width: 100%;
        height: 100%;
        text-align: right;
        font-size: 25px;
        background: transparent;
        padding: 10px; border: 1px solid rgb(243, 240, 240);
        border-radius: 10px;
        color: aliceblue;
    }
button{
    width: 45px;
    height: 45px;
    background: transparent;
    border: 1px solid rgb(20, 19, 20);
    border-radius: 50%;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1);
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
    margin-top: 37px;
    margin-left: 23px;
}
button:hover{
    background-color: rgb(141, 140, 139);
}
button:active{
    background-color: rgb(20, 19, 20);
}
.operator{
    background-color: antiquewhite;
    color: red;
}